:root {
  /* MEASUREMENT */
  --base-space-1: 4px;
  --base-space-10: 56px;
  --base-space-11: 64px;
  --base-space-12: 80px;
  --base-space-2: 8px;
  --base-space-3: 12px;
  --base-space-4: 16px;
  --base-space-5: 20px;
  --base-space-6: 24px;
  --base-space-7: 32px;
  --base-space-8: 40px;
  --base-space-9: 48px;
}
